/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dkblue: hsl(217, 54%, 11%);  /* main background */
    --dkblue2: hsl(216, 50%, 16%);  /* card background */
    --hrline: hsl(215, 32%, 27%);  /* horizontal line */
    --white: hsl(0, 0%, 100%); 
    --sans: "Outfit", Helvetica, sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--dkblue);
    font-family: var(--sans);
    font-size: 18px;
}
.component {
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--dkblue2);
    margin: 10rem auto;
    max-width: 350px;
    position: relative;
}
main .image {
    position: relative;  
    overflow: hidden;
    display: block;
}
.component .image>img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.component .image div {  
    position: absolute;
    top: 0;
    background-color: hsl(178deg 100% 50% / 40%);
    width: 100%;
    height: 100%;
    border-radius:0.625rem ;
    opacity: 0;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component .image div:hover {
    opacity: 1;
}
.title {
    color: var(--white);
    font-size: 1.3rem;
    text-decoration: none;
}
.title:hover {
    color: var(--cyan);
    cursor: pointer;
}
.component p {
    color: var(--softblue);
    font-weight: 300;
}
hr {
    border: 1px solid var(--hrline);
}
.market {
    display: flex;
    justify-content: space-between;
}
.market-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.market-price p {
    color: var(--cyan);
}
.market-time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.market-price img {
    width: 14px;
    height: 23px;
}
.market-time img {
    width: 20px;
    height: 20px;
}
.artist {
    display: flex;
    align-items: center;
    gap: 15px;
}
.artist img {
    width: 35px;
    height: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.artist p {
    font-size: 15px;
}
.artist-name {
    color: var(--white);
    text-decoration: none;
}
.artist-name:hover {
    color: var(--cyan);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}